
@model WebApplication4.Models.Offering
@{
    ViewData["Title"] = "Offering";
}



<form asp-action="Create" method="post">

    <div class="row">


        <div class="col-sm-3">
        </div>
        <div class="col-sm-5">
            <h3>add Offering</h3>

            <div class="form-group">
               

                <label class="control-label">Course</label>

                <select asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseList">
                    <option value="">~Select Course~</option>

                </select>

                <label class="control-label">Instructor</label>
                <select asp-for="InstructorId" class="form-control" asp-items="ViewBag.InstructorList">
                    <option value="">~Select Instructor~</option>

                </select>
            </div>

            <br />
            <div class="form-group float-right">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
        <div class="col-sm-3">
        </div>
    </div>

</form>




